<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="1;url=./swagger"></meta>
    <title>跳转中</title>
</head>
<body>
<div style="text-align : center">
    一秒钟后跳转。。。。。。
</div>
</body>
</html>